@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:ital,wght@0,300;0,400;0,500;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#nav {
  display: none;
}

body {
  width: 80vw;
  background: salmon;
  @apply m-auto font-inter
  bg-neutral-main
}

.btn-large {
  transition: 1s;
  @apply
  rounded-full
  bg-secondary-main
  text-neutral-light
  font-semibold
  /* py-4 */
  /* text-lg */
  text-2xl
  /* sm:text-4xl */
  sm:py-4
  /* md:text-5xl */
}

.btn-large:hover {
  @apply
  bg-primary-main
}
.highlighted-property {
  @apply
  text-primary-secondary
  font-semibold
}