@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:ital,wght@0,300;0,400;0,500;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#nav {
  display: none;
}

body {
  width: 80vw;
  @apply m-auto font-inter
}

.btn-large {
  transition: 1s;
  @apply
  rounded-lg 
  bg-primary-fluorescent-green
  text-neutral-greenish-lead 
  font-semibold
  py-4
  text-lg
  text-2xl
  sm:text-4xl
  sm:py-6
  md:text-5xl
}

.btn-large:hover {
  @apply
  bg-secondary-pasty-green
  text-neutral-soft-white
  scale-95
}
